/* Includes BC branding and other local Mirador styles.
 * Load after 'mirador-combined.css' */

body {
    font-size: 80%;
}

#viewer {
    width: 100%;
    height: 100%;
    position: fixed;
}

.mirador-container .mirador-main-menu-bar {
    border-bottom: 1px solid #dccaa0;
    background-color: #8a100b;
}

#bc-logo {
    background-image: url(https://library.bc.edu/theme/img/title_295x30_transparent_whitetext.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    color: transparent;
    overflow: hidden;
    width: 295px;
    height: 30px;
    margin-top: -6px;
}

.mirador-container .mirador-main-menu-bar a {
    color: #fff;
    opacity: .8;
}

.user-logo a:hover {
    color: #c0bda5;
}

.mirador-main-menu-bar a:hover {
    color: #c0bda5;
}

.slicknav_menu {
    display:none;
}

@media screen and (max-width: 900px) {
    /* #menu is the original menu */
    .user-buttons, .mainmenu-button {
        display:none;
    }

    .slicknav_menu {
        display:inline-block;
        position:relative;
        z-index: 9001;
        float:right;
        height: 33px;
        padding:0 !important;
        margin:0 !important;
        background: #8a100b !important;
        //background: rgba(0,0,0,0.9) !important;
    }

    .slicknav_menu > .slicknav_btn {
        margin: 0;
        background: #8a100b;
    }

    .slicknav_nav {
        background: #8a100b;
        //background: rgba(0,0,0,0.9);
    }
}
