/* Includes BC branding and other local Mirador styles.
 * Load after 'mirador-combined.css' */

body {
    font-size: 80%;
}

.mirador-container .mirador-main-menu-bar {
    border-bottom: 1px solid #dccaa0;
    background-color: #8a100b;
}

#bc-logo {
    background-image: url(https://library.bc.edu/theme/img/title_295x30_transparent_whitetext.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    color: transparent;
    overflow: hidden;
    width: 295px;
    height: 30px;
    margin-top: -6px;
}

.mirador-container .mirador-main-menu-bar a {
    color: #fff;
    opacity: .8;
}

.mirador-main-menu-bar a:hover {
    color: #c0bda5;
}

@media only screen and (max-width: 500px) {
    a.change-layout {
        display: none;
    }
}